/*Navigation CSS Begin*/

/*Thermometer CSS Begin*/

body * {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #990000;
}

#countdown-wrap {
  width: 100%;
  height: 300px;
  //border: 1px solid black;
  padding: 20px;
  font-family: arial;
  background-color: #000000;
  max-width: 650px;
  margin: 150px auto 300px;
}

#goal {
  font-size: 48px;
  text-align: right;
  color: #fff;
  @media only screen and (max-width: 640px) {
    text-align: center;
  }
}

#glass {
  width: 100%;
  height: 20px;
  background: #c7c7c7;
  border-radius: 10px;
  float: left;
  overflow: hidden;
}

#progress {
  float: left;
  width: 16%;
  height: 20px;
  background: #ff5d50;
  z-index: 333;
  //border-radius: 5px;
}

.goal-stat {
  width: 25%;
  //height: 30px;
  padding: 10px;
  float: left;
  margin: 0;
  color: #fff;

  @media only screen and (max-width: 640px) {
    width: 50%;
    text-align: center;
  }
}

.goal-number,
.goal-label {
  display: block;
}

.goal-number {
  font-weight: bold;
}

/*Thermometer CSS End*/

/*Contact Form CSS Begin*/
* {
  margin: 0;
  padding: 0;
}
body {
  background: #990000;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.container-contact {
  width: 80%;
  height: 80vh;
  margin: 50px auto;
  position: relative;
}
.contact-box {
  background: white;
  height: 100%;
  display: flex;
}
.contact-left {
  width: 60%;
  float: left;
  padding-left: 40px;
  padding: 40px 60px;
}
.contact-right {
  width: 40%;
  flex-wrap: nowrap;
  position: absolute;
  text-align: justify;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  padding-left: 40px;
  padding: 40px;
  background: #380000;
  color: white !important;
  box-sizing: border-box;
}
.h2 {
  margin-bottom: 10px;
}
.container p {
  margin-bottom: 40px;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-row .input-group {
  flex-basis: 45%;
  display: block;
}
.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}
.textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: #000000;
  padding: 10px;
  box-sizing: border-box;
}
.label {
  margin-bottom: 6px;
  display: block;
  color: #990000;
}
.button {
  background: #990000;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px #ed5c37;
}
.contact-left h3 {
  color: #000000;
  font-weight: 600;
  margin-bottom: 30px;
}
.contact-right h2 {
  color: white !important;
  justify-content: center;
  font-weight: 600;
  text-align: center;
  margin: auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
}
tr td:first-child {
  padding-right: 40px;
}
tr td {
  padding-top: 40px;
}
/*Contact Form CSS End*/

/* Book Now Css Begin*/

.body-book-now {
  background-color: #380000;
}
.container-book-now {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #757575;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input,
select {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

input[type="submit"] {
  background-color: #008000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #006600;
}

/*Book Now End CSS*/
